*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main-wrap{
    width:100%;
    background-color: rgb(255, 255, 255);
}
.footer-wrap{
    position: relative;
    margin-top: 340px;
    /* height:350px; */
    width:100%;
    padding: 40px;
    background: rgb(46, 44, 44);
}
.footer-wrap-1{
    display: flex;
}
.footer-section{
    width:22%;
    display: block;
    padding:10px 35px;
}
.footer-section:last-of-type{
    width:34%;
}
p{
    color:#fff;
    font-size: 16px;
}
form{
    position: relative;
}
input{
    position: absolute;
    height: 35px;
    width:220px;
    margin: 8px 0px;
    border: none;
    outline: none;
    padding: 6px;
    font-size: 14px;
}
.btn{
    /* width:70px; */
    height:35px;
    background: rgb(79, 156, 69);
    border: none;
    padding:0px 6px;
    margin: 8px 0px;
    position: absolute;
    left:60%;
    font-weight: 600;
    cursor: pointer;
    color:#fff;
}
.btn:hover{
    background: rgb(107, 204, 94);
}
.footer-section h1{
    font-size: 22px;
    color: #fff;
    margin-bottom: 8px;
}
.footer-section a{
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 4px 0px;
}
.line{
    margin-top: 20px;
    background:rgb(143, 142, 142) ;
    width:100%;
    height:1px;
}
.social-link{
    padding-top: 25px;
    text-align: center;
}
.social-link a{
    text-decoration: none;
    height:26px;
    display: inline-block;
    width:26px;
    padding:5px;
    border-radius: 20px;
    margin: 5px;
    background: rgb(224, 222, 222);
}
.social-link a img{
    width:14px;
    height:14px;
}
/* .footer-wrap-2{
    position: relative;
} */
.footer-bottom{
    background: rgb(12, 12, 12);
    width: 100%;
    padding:20px;
    display: flex;
    justify-content: space-between;
}
.footer-bottom a{
    color:#fff;
    font-size: 14px;
    margin-left: 20px;
    text-decoration: none;
}
.first-box{
    margin-left: 20px;
}
.last-box{
    margin-right: 20px;
}
